*, *::before, *::after {
    box-sizing: inherit;
}

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

main {
    display: block;
}

.container {
    display: grid;
    grid-template-columns: 20% 1fr 20%;
    grid-template-rows: 50px 100px 1fr;
    /* grid-template-rows: 50px 100px 15px 1fr; */
    /* grid-column-gap: 20px; */
    grid-row-gap: 0;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;

    width: 100%;
    max-width: 100%;
    min-height: 100vh;

    margin-left: auto;
    margin-right: auto;
    position: relative;

    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
}

.item-navbar {
    grid-column: span 3;
    border: 1px solid rgb(34, 34, 34);
    padding: 10px 20px;
    background-color: rgb(34, 34, 34);
    color: #fff;
}

.item-header {
    grid-column: span 3;
    padding: 20px;
    border: 1px solid #eee;
    background-color: #fafafa;
    font-size: 1.2em;
    box-shadow: 0px 5px #ddd;
    filter: drop-shadow(0px 2px #eee);
}

.item-breadcrumb {
    grid-column: span 3;
    background-color: #fff;
    border-bottom: 1px solid #eee;
}

.item-side {
    background-color: #fafafa;
}

.item-content {
    padding: 25px 50px;
    border: 1px solid #eee;
}